[submodule "assets/language"]
	path = assets/language
	url = git@github.com:memochou1993/gh-rankings-language.git
[submodule "assets/location"]
	path = assets/location
	url = git@github.com:memochou1993/gh-rankings-location.git
